# =========================
# System / Junk Files
# =========================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# =========================
# IDEs
# =========================
*.iml
*.ipr
*.iws
.idea/
.vscode/

# =========================
# Flutter / Dart
# =========================
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# =========================
# Android Build
# =========================
/android/app/debug
/android/app/profile
/android/app/release

# =========================
# Symbolication / Obfuscation
# =========================
app.*.symbols
app.*.map.json

# =========================
# Text & Markdown Files
# =========================
*.txt
*.text
*.md

# ✅ استثناء README.md
!README.md